  
body {
    background: #EAEDF0 url(http://4.bp.blogspot.com/-2q_j_DMlgEo/U484C4rShZI/AAAAAAAAAEE/v5uTdrF1z-Q/s1600/bgyahoostyleblog.png) repeat-x top left;
    color: #666;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 13.5px;
    line-height: 20px;
    text-decoration: none;
    margin: 0;
    padding: 0;